<div class="modal-dialog">
  <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal">&times;</button>

    <div class="modal-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="" class="control-label col-md-2">Full:</label>
          <div class="col-md-10">
            <textarea name="name" rows="10" class="form-control" value="{{ configFull }}" style="resize: vertical;">
            </textarea>
          </div>
        </div>
      </div>

      <div class="form-horizontal">
        <div class="form-group">
          <label for="" class="control-label col-md-2">Min:</label>
          <div class="col-md-10">
            <textarea name="name" rows="10" class="form-control" value="{{ configMin }}" style="resize: vertical;">
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>