// index.less

// 导入 bootstrap 中的变量
@import (reference) "../../../global/css/bootstrap";

.ractive-wrapper{
  .options{
    @half-space: 1%;
    margin: -@half-space;

    .option{
      border: 1px solid #ccc;
      width: 48%;
      float: left;
      margin: @half-space;
      min-height: 120px;
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
      position: relative;

      .default-tag{
        display: none;
      }

      &.default .default-tag{
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 20px;
        color: orange;
      }

      &.active{
        background-color: @brand-info;
        color: #fff;
      }
    }
  }

  .pager{
    .btn{
      width: 200px;

      &:first-child{
        margin-right: 15px;
      }
    }
  }
}